In [1]:
# pip install ipynb

In [2]:
from ipynb.fs.full.Implementation_of_strategies import Permanent_purchase_week
from ipynb.fs.full.Implementation_of_strategies import Permanent_purchase_day

In [3]:
start_time = "1 Jan, 2021"
end_time = "31 Jul, 2023"

In [4]:
Permanent_week = Permanent_purchase_week(start_time, end_time)
df_week = Permanent_week[0]

In [5]:
df_week

,High_btc,date,High_usdt,bitcoins_received,Sum of bitcoins,spent_rub,received_rub
0,41950.00,2021-01-04,73.731,0.000024,0.000000,0.000,0.000000
1,40100.00,2021-01-11,73.568,0.000025,0.000024,73.731,70.323642
2,37850.00,2021-01-18,74.859,0.000026,0.000049,147.299,138.201308
3,38531.90,2021-01-25,75.824,0.000026,0.000075,222.158,219.694791
4,40955.51,2021-02-01,75.647,0.000024,0.000101,297.982,313.373331
...,...,...,...,...,...,...,...
130,31500.00,2023-07-03,93.790,0.000032,0.004014,9746.348,11859.368137
131,31804.20,2023-07-10,92.010,0.000031,0.004046,9840.138,11839.546894
132,30417.46,2023-07-17,91.750,0.000033,0.004077,9932.148,11379.066316
133,30099.58,2023-07-24,92.500,0.000033,0.004110,10023.898,11443.726643
134,30047.50,2023-07-31,96.070,0.000033,0.004143,10116.398,11960.731627

In [12]:
print("Получено рублей: " + str(Permanent_week[1]) 
      + "\nРост составил: " + str(round(Permanent_week[2], 2)*100) + "%")

NameError: name 'Permanent_week' is not defined

In [ ]:
Permanent_day = Permanent_purchase_day(start_time, end_time)
df_day = Permanent_day[0]

In [ ]:
df_day

In [ ]:
print("Получено рублей: " + str(Permanent_day[1]) 
      + "\nРост составил: " + str(round(Permanent_day[2], 2)*100) + "%")